In [5]:
import mdtraj as md
import numpy as np

In [11]:
f = md.load_lammpstrj("output_create_init_conf.lammpstrj", stride = 10,top = "first.pdb")

In [12]:
f.xyz.shape

(1601, 3908, 3)

In [13]:
for i in range(1601):
    f.xyz[i] = f.xyz[i] * 10

In [14]:
f.xyz[68][235]

array([ -8.63423,   1.97651, -58.8192 ], dtype=float32)

In [15]:
import pandas as pd
path = "init_csv_fin/"

In [16]:
count = 0
for i in range(1600,400,-2):
    count = count + 1
    df = pd.DataFrame(f.xyz[i][0:236])
    df.to_csv(path + 'file' + str(count) +'.csv')
    if(count == 500):
        print("ooga")
        print(i)
        break

ooga
602

In [17]:
df

            0         1          2
0    1.255000 -0.027000 -48.818001
1    2.623570  1.304560 -51.890404
2    2.925820 -1.505900 -53.210201
3    3.778710  3.139090 -54.702499
4    6.196920  3.213310 -54.626003
..        ...       ...        ...
231  0.300878 -9.137740 -57.877499
232 -1.831880 -5.171030 -56.081299
233 -1.296660 -5.471300 -52.983898
234 -4.797150 -3.670300 -56.521000
235 -6.087640  0.001843 -55.442299

[236 rows x 3 columns]

TypeError: write() argument must be str, not Trajectory