In [1]:
import mdtraj as md
import numpy as np

In [13]:
f = md.load_lammpstrj("output.lammpstrj", stride = 10,top = "first.pdb")

In [14]:
f.xyz.shape

(161, 4145, 3)

In [15]:
for i in range(f.xyz.shape[0]):
    f.xyz[i] = f.xyz[i] * 10

In [16]:
f.xyz[68][235]

array([14.8667   ,  1.9955499, -4.       ], dtype=float32)

In [17]:
import pandas as pd
path = "init_csv_fin/"

In [18]:
count = 0
for i in range(f.xyz.shape[0]-1,0,-1):
    count = count + 1
    df = pd.DataFrame(f.xyz[i][0:236])
    df.to_csv(path + 'file' + str(count) +'.csv')
    if(count == 100):
        print("ooga")
        print(i)
        break

ooga
61

In [19]:
df

             0         1          2
0    -0.118000 -0.373000 -49.500999
1     1.864090 -2.854450 -52.301998
2     4.449090 -1.067340 -53.999298
3    -0.035754 -2.420580 -54.616096
4     0.411031  0.247322 -56.185097
..         ...       ...        ...
231  14.866700  1.995550 -12.000000
232  14.866700  1.995550 -10.000000
233  14.866700  1.995550  -8.000000
234  14.866700  1.995550  -6.000000
235  14.866700  1.995550  -4.000000

[236 rows x 3 columns]

TypeError: write() argument must be str, not Trajectory