In [1]:
import mdtraj as md
import numpy as np

In [2]:
f = md.load_lammpstrj("different/output.lammpstrj",top = "different/hola_protein.pdb")

In [3]:
for i in range(1601):
    f.xyz[i] = f.xyz[i] * 10

In [4]:
f.xyz[68][235]

array([ -8.60837 ,   4.99761 , -58.668198], dtype=float32)

In [5]:
import pandas as pd
path = "different/init_csv/"

In [6]:
count = 0
for i in range(1600,400,-2):
    count = count + 1
    df = pd.DataFrame(f.xyz[i][0:236])
    df.to_csv(path + 'file' + str(count) +'.csv')
    if(count == 500):
        print("ooga")
        print(i)
        break

ooga
602

In [7]:
df

            0         1          2
0    1.255000 -0.027000 -48.818001
1    0.163319  0.144575 -51.304897
2   -1.568970 -0.773190 -53.588200
3    1.574220  2.266800 -54.533401
4    2.935810  1.184360 -56.664398
..        ...       ...        ...
231 -8.718470 -1.002930 -66.086403
232 -7.397460  0.208159 -61.640800
233 -7.508350 -1.268760 -59.124100
234 -7.621130  3.332520 -60.981499
235 -8.308969  4.696080 -58.303699

[236 rows x 3 columns]

TypeError: write() argument must be str, not Trajectory