In [1]:
import mdtraj as md
import numpy as np

In [2]:
f = md.load_lammpstrj("output.lammpstrj",top = "first.pdb")

In [3]:
f.xyz.shape

(1600, 4227, 3)

In [4]:
for i in range(f.xyz.shape[0]):
    f.xyz[i] = f.xyz[i] * 10

In [5]:
f.xyz[68][235]

array([  9.190701,  12.4609  , -61.7426  ], dtype=float32)

In [6]:
import pandas as pd
path = "init_csv_fin/"

In [7]:
count = 0
for i in range(f.xyz.shape[0]-1,0,-10):
    count = count + 1
    df = pd.DataFrame(f.xyz[i][0:250])
    df.to_csv(path + 'file' + str(count) +'.csv')
    if(count == 100):
        print("ooga")
        print(i)
        break

ooga
609

In [8]:
df

                0             1          2
0   -4.652250e-07  3.543740e-08 -49.000000
1    1.977250e+00  2.567150e+00 -51.459198
2    5.080220e+00  3.389900e+00 -50.872501
3    1.711060e+00  3.063320e+00 -54.969704
4    3.894520e+00  3.655590e+00 -56.225399
..            ...           ...        ...
245  1.500000e+01  0.000000e+00 -46.000000
246  1.500000e+01  0.000000e+00 -44.000000
247  1.500000e+01  0.000000e+00 -42.000000
248  1.500000e+01  0.000000e+00 -40.000000
249  1.500000e+01  0.000000e+00 -38.000000

[250 rows x 3 columns]

TypeError: write() argument must be str, not Trajectory