In [3]:
import pandas as pd
import numpy as np

In [4]:
for j in range(1,501):
    df = pd.read_csv("lamp2/initial/traj"+ str(j)+ ".csv")
    s = np.array(df)
    n = s.shape[0]
    f = open('lamp2/data/data'+str(j) + '.txt', 'w')
    f.write('Comment'+'\n\n')
    f.write(str(n)+' atoms\n' + str(100-1) + ' bonds\n\n')
    f.write('2 atom types\n1 bond types\n\n')
    f.write(str(-25.5)+' '+str(25.5)+' xlo xhi\n'+str(-25.5)+' '+str(25.5)+' ylo yhi\n' + str(-10-140)+' '+str(10+140)+' zlo zhi\n\n')
    f.write('Atoms\n\n')
    for i in range(s.shape[0]-100):
        f.write(str(i+1)+' 1 1 0 '+str(s[i,1])+' '+str(s[i,2])+' '+str(s[i,3])+'\n')
    for i in range(s.shape[0]-100,s.shape[0]):
        f.write(str(i+1)+' 2 2 -1 '+str(s[i,1])+' '+str(s[i,2])+' '+str(s[i,3])+'\n')
    f.write('Masses\n\n')
    f.write('1 1\n2 1\n\n')
    f.write('Bonds\n\n')
    for i in range(s.shape[0]-100,s.shape[0]-1):
        f.write(str(i-(s.shape[0]-101)) + ' 1 '+ str((i+1)) + ' ' + str((i+2))+'\n')
    f.write('\n')
    f.close()

In [3]:
df

     Unnamed: 0         0         1        2
0             0  1.500000  0.000000 -10.0000
1             1  1.500000  0.000000  -9.0000
2             2  1.500000  0.000000  -8.0000
3             3  1.500000  0.000000  -7.0000
4             4  1.500000  0.000000  -6.0000
..          ...       ...       ...      ...
953         953  1.253480 -0.404634 -65.4274
954         954  0.168285 -0.409332 -65.2311
955         955  0.833455 -0.518275 -65.9599
956         956 -0.002496 -0.944486 -66.4718
957         957  0.383145 -0.032281 -66.3259

[958 rows x 4 columns]

9

20

27

44

7

8

9

1